In [1]:
import pandas as pd
import numpy as np
from janitor import clean_names

In [33]:
revenus = pd.read_csv('BASE_TD_FILO_DISP_IRIS_2018.csv', sep=';').clean_names()

In [34]:
revenus.columns

Index(['iris', 'disp_tp6018', 'disp_q118', 'disp_med18', 'disp_q318',
       'disp_eq18', 'disp_d118', 'disp_d218', 'disp_d318', 'disp_d418',
       'disp_d618', 'disp_d718', 'disp_d818', 'disp_d918', 'disp_rd18',
       'disp_s80s2018', 'disp_gi18', 'disp_pact18', 'disp_ptsa18',
       'disp_pcho18', 'disp_pben18', 'disp_ppen18', 'disp_ppat18',
       'disp_ppsoc18', 'disp_ppfam18', 'disp_ppmini18', 'disp_pplogt18',
       'disp_pimpot18', 'disp_note18'],
      dtype='object')

Average of median income by IRIS section by code postal

In [35]:
revenus = (revenus
 .query('iris.str.contains("^75|^92|^93|^94")', engine='python').loc[:, ['iris', 'disp_med18']]
 .assign(code_insee = lambda x: x.iris.str[:5],
         code_postal = lambda x: x.code_insee.str.replace('751', '750')
        )
 .groupby('code_postal', as_index=False)
 .agg(revenu_moyen = ('disp_med18', 'mean'))
)

In [36]:
revenus.to_csv('iris-revenus2018.csv')

In [37]:
revenus

    code_postal  revenu_moyen
0         75001  35295.714286
1         75002  32617.000000
2         75003  33231.764706
3         75004  32447.500000
4         75005  34903.200000
..          ...           ...
124       94077  21253.750000
125       94078  15877.692308
126       94079  23703.333333
127       94080  33201.176471
128       94081  19153.055556

[129 rows x 2 columns]