In [1]:
import pandas as pd
import numpy as np

In [41]:
dvf_main = pd.read_csv('dvf-data.csv')

C:\Users\JouJo\Anaconda3\envs\py39\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (17,24) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [47]:
dvf_sncf = pd.read_csv('dvf-dist-sncf.csv')
dvf_sncf = dvf_sncf.loc[:, ['adresse', 'latitude', 'longitude', 'sncf_ngare1', 'sncf_ngare2', 'sncf_ngare3', 'sncf_min_distance']]

In [48]:
dvf_sncf

,adresse,latitude,longitude,sncf_ngare1,sncf_ngare2,sncf_ngare3,sncf_min_distance
0,24 RUE DU DOC FOUCAULT,48.892463,2.194710,0.0,1.0,1.0,1.829193
1,30 RUE DU 22 SEPTEMBRE,48.904179,2.269954,2.0,5.0,10.0,0.225391
2,61 RUE THOMAS LEMAITRE,48.890869,2.188545,0.0,0.0,1.0,2.308021
3,39 RUE RAYMOND POINCARE,48.888170,2.189973,0.0,0.0,2.0,2.387528
4,100 RUE DE LA LIBERTE,48.879591,2.219065,1.0,2.0,6.0,0.909255
...,...,...,...,...,...,...,...
141333,11 RUE DU SENTIER,48.868429,2.345499,0.0,9.0,10.0,1.324249
141334,37 RUE TIQUETONNE,48.864724,2.347184,0.0,8.0,14.0,1.256869
141335,147 RUE SAINT-DENIS,48.864735,2.350133,0.0,8.0,14.0,1.297949
141336,24 RUE CHANOINESSE,48.854202,2.350294,1.0,6.0,16.0,0.364435
141337,39 RUE SAINT-SAUVEUR,48.866089,2.348231,0.0,8.0,12.0,1.400941

In [50]:
dvf_ratp = pd.read_csv('dvf-dist-ratp.csv')
dvf_ratp = dvf_ratp.loc[:, ['adresse', 'ratp_ngare1', 'ratp_ngare2', 'ratp_ngare3', 'ratp_min_distance']]

In [51]:
dvf_main = (dvf_main
 .assign(
     nvoie = lambda x: x.no_voie.astype('int').astype('str'),
     adresse = lambda x: x.nvoie + ' ' + x.type_de_voie + ' ' + x.voie
 )
 .iloc[:, 4:]
)

In [55]:
dvf_main_gares = (pd.merge(dvf_main, dvf_sncf, on='adresse')
 .merge(dvf_ratp, on='adresse'))

In [60]:
dvf_main_gares = dvf_main_gares.dropna(subset=['latitude'])

In [61]:
dvf_main_gares.to_csv('dvf-data-gare.csv')